.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

:root {
    --green-validation: rgba(0, 255, 0, 0.2);
    --primary-action: rgba(255, 182, 193, 0.3);

    --green-delivered: rgb(23, 216, 49);
    --orange-inprogress: rgb(255, 180, 19);
    --red-delete: rgb(255, 68, 68);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    width: 100vw;
    height: 100vh;
}

body {
    padding: 1rem;
    width: 100vw;
    height: 100vh;
}

.absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.firebase-emulator-warning {
    display: none;
}

.buttonReset {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    color: black;
}

.inputReset {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
    padding: 0 1rem
}

.inputReset:focus {
    outline: none;
}

.noise {
    background-image: url("../static/assets/noise.webp");
}